.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f85f40;
}

.section4 button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.section4 button:hover {
    background-color: #ddd;
}
