.section3 {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.section3Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-link {
    text-decoration: none;
    width: 30%;
    color: inherit;
}

.card {
    background-color: black;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.image img {
    width: 100%;
    height: auto;
}

.content {
    padding: 15px;
    text-align: left;
}

.content h2 {
    margin: 0;
    font-size: 1.5em;
    color: white;
}

.content p {
    margin: 10px 0;
    color: white;
}

.content .year,
.content .software {
    margin: 5px 0;
    font-weight: bold;
}

/* Media query for responsive design */
@media (max-width: 600px) {

    .section3 {
        width: 100%;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .card-link {
        width: 80%;
        margin-bottom: 20px;
    }
}
