/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the body takes the full viewport height */
html, body, #root {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: black;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
}
