

.project-page img {
    max-width: 100%;
    height: 200px;
    margin: 20px 0;
}

.model-container {
    width: 100%;
    height: 500px;
}

@media (max-width: 600px) {
    .project-page img {
        width: 80%;
        margin-bottom: 20px;
        margin: auto;
        align-items: center;
    }
}
